@font-face {
    font-family: "Coolvetica";
    src: url("../fontes/coolvetica condensed rg.woff2") format("woff2"),
            url("../fontes/coolvetica condensed rg.woff") format("woff"),
            url("../fontes/coolvetica condensed rg.otf") format("opentype");
    font-style: normal;
    letter-spacing: 2px;
} /*Correção de src para fonte -guille*/ 

a{
    color: #fff5e9;
    text-decoration: underline;
}

body {
    font-family: "Open Sans"; 
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url("https://http2.mlstatic.com/D_NQ_NP_638459-MLB52927911752_122022-O.webp");
}

h1 {
    color: #fff5e9; /*Alteração de fonte (tamanho e cor)*/ 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Coolvetica";
    font-size: 35px;
    font-style: normal;
    letter-spacing: 2px;
  }

h2 {
    font-family: "Coolvetica"; /*Alteração de fonte (tamanho e espaçamento)*/
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    font-style: normal;
    letter-spacing: 2px;
}

h3 {
    font-family: "Open Sans";
    font-size: 1.2em;
    margin-bottom: 5px; 
}

.menu-header {  /*Alteração de cor do background (tamanho e box shadow)*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #BF2E00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.menu-header .logo { /*Coloquei logomarca*/
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu-content { /*Ajuste de display flex (visualização)*/
    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 30px;
}

.menu-columns {
    background:#FEDBAA;
    margin-top:100px;
    display: flex;
    flex: 1;
    gap: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 0.5px solid #ccc;
    margin-bottom: 5px;
    flex: 1;
    margin: 100px;
    width: 60%;
}

.category {
    flex: 1;
    max-width: 400px; 
    min-width: 200px; 
    margin: 0 auto; 
    text-align: center; 
}

/* Centralizei a imagem dentro da classe menu-header-img e defini o tamanho */
.menu-header-img {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.menu-header-img img {
    width: 40%; 
    height: auto; 
    object-fit: contain; 
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-content {
        flex-direction: column;
        align-items: center;
    }
    .menu-columns {
        flex-direction: column;
    }
}

/* Ajuste da categoria-title */
.category-title {
    background-color: #2D6C44;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 0; 
    margin-bottom: 10px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    display: flex;
    flex-direction: left;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espaçamento entre os cartões */
    transition: box-shadow 0.3s ease-in-out;
    text-align: left; /* Alterado para alinhar o conteúdo à esquerda */
    padding: 15px;
}

.menu-list li:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}

.pizza-info {
    text-align: left;
    margin-bottom: 10px;
}

.pizza-info p {
    margin: 0;
    font-size: 17px;
    color: #555;
}

.price {
    font-family: "Open Sans";
    font-weight: bold;
    color: #000;
    white-space: nowrap;
    margin-top: 10px;
    text-align: left; /* Alinhei o preço à direita */
    width: 120px; 
}

.menu-footer {
    font-family: "Open Sans";
    font-size: large;
    background-color: #FEDBAA;
    color: #000;
    text-align: center;
    align-items: center;
    padding: 20px 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
}

.menu-footer-content {
    align-items: center;
    display: flex;
    text-align: center;
    gap: 200px;
    padding-left: 45px;
}

.menu-list img {
    width: 80px;
}

.menu-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px;
}

button {
    cursor: pointer;
    text-align: center;
    padding: 15px 25px;
    background-color: #BF2E00;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: large;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 100px;
    margin-left: 15px;
  }

.category-title {
    background-color: #2D6C44;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}

.chef-image {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    margin: 20px auto 0; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#imgLogo{
    width: 200px;
    height: 200px;
    
}

@media (max-width: 768px) {
    .menu-columns {
        flex-direction: column;
        align-items: center;
    }
    .chef-image {
        margin-top: 10px; /
    }
}